
.button
  font-family: sans-serif
  color: #ffffff
  font-size: 30px
  padding: 8px
  border: none
  border-radius: 10px
  background-color: #FFBC00
  outline: none
  max-height: 60px
  transition: 0.7s
  text-transform: uppercase
  &:hover
    background-color: #C15500
    cursor: pointer